body {

  #root {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-device-width: 384px) and (min-device-height: 804px) {
  body {
    background: url(../../assets/img/iphone_template.png) no-repeat center;

    display: flex;
    height: 100vh;
    width: 100vw;

    #root {
      height: 568px;
      width: 320px;
      margin: auto;
      transform: translateY(-50px);
    }
  }

}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
